$headerHeight: .44rem;
$footerHeight: .49rem;

$mainColor: #49a747;
$bgColor: #eaeaea;
$borderColor: #ddd;

$defaultBlack: #444;
$defaultRed: #e72a2a;
$defaultOrange: #e7832a;
$defaultYellow: #e7ce2a;
$defaultGray: #888;
$subGray: #ccc;

$gradient: linear-gradient(to left, #ffee79, $mainColor);

$fs12: .12rem;
$fs14: .14rem;
$fs16: .16rem;